<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Codinamicos</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand">TP Integración Contínua - Grupo Codinámicos</span>
        </nav>

        <br/>
        <h3> Agregar miembro: </h3>

        <form action="/addtask" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="newtask" placeholder="Nuevo miembro">
            </div>
            <button class="btn btn-success btn-lg btn-block"> Agregar </button>

            <br />
            <hr />

            <h3> Miembros actuales: </h3>
            <div class="form-group">
                <% for( var i = 0; i < task.length; i++){ %>
                <li class="list-group-item"><input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %>
                </li>
                <% } %>
            </div>

            <button formaction="/removetask" type="submit" class="btn btn-danger btn-lg btn-block"> Eliminar
                seleccionado(s)</button>

        </form>

    </div>

</body>

</html>