<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Codinamicos</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="container">

        <h2> Grupo: Codinamicos </h2>

        <form action="/addtask" method="POST">
            
            <input type="text" name="newtask" placeholder="nuevo miembro"> <button> Agregar </button>
            
            <h2> Miembros actuales </h2>
            
            <% for( var i = 0; i < task.length; i++){ %>
                <li><input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %> </li>
            <% } %>
            
            <button formaction="/removetask" type="submit"> Eliminar </button>

        </form>    

    </div>

</body>

</html>